@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
/* 重置所有標籤的樣式 */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* 重置字體 */
body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* 重置列表 */
ul, ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  max-width: 100%;
}

/* 重置連接 */
a {
  display: block;
  text-decoration: none;
}

#faith, #faith .faith_content, #faith .faith_content .text, #faith .faith_content .img, #faith .faith_content .img .triangle-container .circle, #chairman, #chairman .profile_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

.stonebg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  z-index: -1;
  background-image: linear-gradient(to bottom, rgba(193, 193, 193, 0.6) 0%, rgba(193, 193, 193, 0.6) 80%, #E1DCD9 100%), url(../img/stonebg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#topbar {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 25px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f1f1f1;
}
#topbar img {
  width: 120px;
  height: 74px;
}
#topbar #nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
}
#topbar #nav ul li a {
  font-size: 16px;
  color: #f1f1f1;
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: transform 0.5s ease;
  will-change: transform;
}
header img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
header .carousel-item {
  height: 100vh;
}

#faith {
  height: 150vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  /* 裝飾娃娃 */
}
#faith .faith_content {
  margin: 0 75px;
  width: 100%;
  padding: 50px;
}
#faith .faith_content .text {
  width: 50%;
  flex-direction: column;
}
#faith .faith_content .text h1 {
  font-size: 1.8rem;
  margin-bottom: 40px;
}
#faith .faith_content .text h3 {
  font-size: 14px;
  letter-spacing: 5px;
  text-align: center;
  line-height: 30px;
}
#faith .faith_content .img {
  width: 50%;
}
#faith .faith_content .img .triangle-container {
  position: relative;
  width: 500px;
  min-width: 450px;
  /* Fixed width */
  height: 450px;
  /* Fixed height */
}
#faith .faith_content .img .triangle-container .circle {
  width: 150px;
  /* Fixed width */
  height: 150px;
  /* Fixed height */
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2392156863);
  position: absolute;
}
#faith .faith_content .img .triangle-container .circle h2 {
  font-size: 14px;
  text-align: center;
  margin: 0;
}
#faith .faith_content .img .triangle-container .circle1 {
  top: 0;
  left: 50%;
  transform: translatex(-50%);
}
#faith .faith_content .img .triangle-container .circle2 {
  bottom: 0;
  left: 0;
}
#faith .faith_content .img .triangle-container .circle3 {
  bottom: 0;
  right: 0;
}
#faith .faith_content .img .triangle-container .circle4 {
  width: 175px;
  height: 175px;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#faith .doll_1 {
  position: absolute;
  left: -50px;
  bottom: -5px;
  /* 設定寬 高會自動縮放 */
  width: 300px;
}
#faith .doll_2 {
  position: absolute;
  right: -50px;
  bottom: 550px;
  width: 200px;
}
#faith .blobs {
  position: absolute;
  right: -300px;
  bottom: -1450px;
  width: 2500px;
}

#chairman {
  height: 100vh;
  background-color: #E1DCD9;
  position: relative;
  z-index: -1;
}
#chairman .colorblock {
  position: absolute;
  top: 6vh;
  left: 34%;
  width: 850px;
  height: 750px;
  z-index: -1;
}
#chairman .profile_content {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 15%;
}
#chairman .profile_content .profile {
  width: 300px;
  height: 500px;
  border-radius: 30px;
  overflow: hidden;
}
#chairman .profile_content .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#chairman .profile_content .profile_text {
  color: #f1f1f1;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
#chairman .profile_content .profile_text h1 {
  font-size: 2rem;
  margin: 0;
}
#chairman .profile_content .profile_text p {
  font-size: 14px;
  letter-spacing: 5px;
  line-height: 30px;
}
#chairman .profile_content h2 {
  font-size: 1.8rem;
  writing-mode: vertical-rl;
  /* 將文字方向變為垂直從右到左 */
  text-orientation: upright;
  /* 每個字母直立顯示 */
}

#course {
  background-color: #D8D8D8;
  height: 100vh;
  z-index: -1;
  position: relative;
  overflow: hidden;
}
#course .colorRcorner {
  position: absolute;
  top: -10vh;
  right: -8%;
  width: 900px;
  height: 500px;
  z-index: -1;
  transform: rotate(-5deg);
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.009) 11.7%, hsla(0, 0%, 0%, 0.034) 22.1%, hsla(0, 0%, 0%, 0.072) 31.2%, hsla(0, 0%, 0%, 0.123) 39.4%, hsla(0, 0%, 0%, 0.182) 46.6%, hsla(0, 0%, 0%, 0.249) 53.1%, hsla(0, 0%, 0%, 0.32) 58.9%, hsla(0, 0%, 0%, 0.394) 64.3%, hsla(0, 0%, 0%, 0.468) 69.3%, hsla(0, 0%, 0%, 0.54) 74.1%, hsla(0, 0%, 0%, 0.607) 78.8%, hsla(0, 0%, 0%, 0.668) 83.6%, hsla(0, 0%, 0%, 0.721) 88.7%, hsla(0, 0%, 0%, 0.762) 94.1%, hsla(0, 0%, 0%, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card:nth-child(2):before {
  background-image: url(https://images.unsplash.com/photo-1533903345306-15d1c30952de?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card:nth-child(3):before {
  background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card:nth-child(4):before {
  background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
  /* 更新：將hover顏色變亮的方式改為使用lighten() */
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }
  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
  .card:hover,
  .card:focus-within {
    align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }
  .card:focus-within:before, .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}
/* 頁尾曲 */
footer #gotop {
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #414143;
  border-radius: 50%;
  padding: 5px;
}/*# sourceMappingURL=style.css.map */