// 灰階色調
$black: #070707;
$deep: #1a1a1a;
$deep-grey: #302f2f;


// 字體色調
$light: #f1f1f1;
<<<<<<< HEAD
$dark:#4E4E4E;
=======
$dark: #414143;
>>>>>>> 4955ad3ec25f7cb2486b19ecf5205cbabad9045b



// 主色調
$primary-color: #e70112;

// 輔助色調
$secondary-color: #b20722; //深紅色
$secondary-color2: #bc00b7; // 紅紫色
$secondary-color3:#23b2ff; //藍色

// 透明色調
$alpha: transparent;

//漸層色調
