// 字體規範
$main-font: "Catamaran";

// 字級規範
$font-size: (
    // map-get($font-size , )
    p:14px,
    s: 16px,
    m: 1.8rem,
    l: 2rem,
    xl: 3rem,
);
// 字重規範
$font-weight: (
    // map-get($font-weight , )
    bolder: 900,
    bold: 700
);

$letter-spacing: (
    p:5px,
    s:7px
);

$line-height: (
    p:30px
);